# Autodetect text files and ensure that we normalise their
# line endings to lf internally. When checked out they may
# use different line endings.
* text=auto

# Check out with lf (UNIX) line endings
*.cfg text diff=csharp eol=lf
*.txt text diff=csharp eol=lf
*.c text diff=csharp eol=lf
*.cpp text diff=csharp eol=lf
*.h text diff=csharp eol=lf
*.hpp text diff=csharp eol=lf
*.cmake text diff=csharp eol=lf
*.sh text eol=lf
*.md text diff=csharp eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.travis.yml text eol=lf
.appveyor.yml text eol=lf
.editorconfig text eol=lf
