osu!.tmproj
*.pfx
*.user
*DS_Store*
*/obj/
*/Build/
*ReSharper*
*resharper*
*.suo
*.tmproj
*.idea
*.dmg
osu!installer/output/
osu!-iPhone/Osu.xcodeproj/
osu!-iPhone/build/
osu!-iPhone/skins/
osu!common/Properties/Strings.*.txt
osu!/Properties/Strings.*.txt
osu!/Constants/General_Version.cs

# Build artifacts
/build
/bin/osu-performance*
/bin/*.dll

# MSVC auxiliary build files
/Win32
/x64

*.docstates

Staging/
*.sublime-project
*.sublime-workspace

Tools/CheatSignatureCreator/bin
Tools/CheatSignatureCreator/obj
Tools/IRCLoadTester/bin
Tools/PacketAnalyser/obj
Tools/IRCLoadTester/obj
Tools/OsuXnbCreator/obj

Tools/OsuXnbCreator/bin/
Tools/PacketAnalyser/bin/
osu!.userprefs
.dropbox
*desktop.ini
*Icon

*.dpkg-dist
*.ucf-dist

.SyncID
.SyncIgnore
.SyncArchive/

.dropbox.attr
packages/*
!packages/repositories.config
.vs/*
/.vscode
