# Autodetect text files and ensure that we normalise their
# line endings to lf internally. When checked out they may
# use different line endings.
* text=auto

# Check out with lf (UNIX) line endings
*.c text diff=cpp eol=lf
*.cpp text diff=cpp eol=lf
*.h text diff=cpp eol=lf
*.hpp text diff=cpp eol=lf
*.cmake text eol=lf
*.cfg text eol=lf
*.txt text eol=lf
*.sh text eol=lf
*.md text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
.travis.yml text eol=lf
.appveyor.yml text eol=lf
.editorconfig text eol=lf
